<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <app-instruction *ngIf="post" [content]="post?.content" [images]="post?.images" ></app-instruction>
        </div>
        <div class="col-md-4">
            <app-detail-profile *ngIf="post" [post]="post"></app-detail-profile>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <app-comment-component *ngIf="post" [object_id]="post?._id"
                                   [owner]="post?.owner"></app-comment-component>
        </div>
        <div class="col-md-2">
            <button (click)="openPostDialog()">New Post</button>
            <button (click)="openEditDialog()">Edit This Article</button>
            <button class="atbi-icon-small"><i class="fa fa-pencil-square-o"></i></button>
        </div>
    </div>
</div>