<div class="container-fluid">
  <!-- main slider carousel -->
  <div class="row">
      <div id="myCarousel" class="carousel slide">
        <!-- main slider carousel items -->
        <div class="carousel-inner" style="width: 80%; margin: auto; align-items: center">
          <div class="active item carousel-item" data-slide-number="0">
            <img src="http://placehold.it/550x450" class="img-fluid">
          </div>
          <div class="item carousel-item" data-slide-number="1">
            <img src="http://placehold.it/550x450" class="img-fluid">
          </div>
          <div class="item carousel-item" data-slide-number="2">
            <img src="http://placehold.it/550x450" class="img-fluid">
          </div>
          <div class="item carousel-item" data-slide-number="3">
            <img src="http://placehold.it/550x450" class="img-fluid">
          </div>
          <div class="item carousel-item" data-slide-number="4">
            <img src="http://placehold.it/550x450" class="img-fluid">
          </div>
          <div class="item carousel-item" data-slide-number="5">
            <img src="http://placehold.it/550x450" class="img-fluid">
          </div>
          <div class="item carousel-item" data-slide-number="6">
            <img src="http://placehold.it/550x450" class="img-fluid">
          </div>
          <div class="item carousel-item" data-slide-number="7">
            <img src="http://placehold.it/550x450" class="img-fluid">
          </div>
          <a class="carousel-control-prev"
             href="#myCarousel"
             role="button"
             data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next"
             href="#myCarousel"
             role="button"
             data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- main slider carousel nav controls -->
        <div class="row">
        <ul class="carousel-indicators list-inline mx-auto" style="width: 80%">
          <li class="list-inline-item active">
            <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
              <img src="http://placehold.it/200x150" class="img-fluid">
            </a>
          </li>
          <li class="list-inline-item">
            <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
              <img src="http://placehold.it/200x150" class="img-fluid">
            </a>
          </li>
          <li class="list-inline-item">
            <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
              <img src="http://placehold.it/200x150" class="img-fluid">
            </a>
          </li>
          <li class="list-inline-item">
            <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
              <img src="http://placehold.it/200x150" class="img-fluid">
            </a>
          </li>
          <li class="list-inline-item">
            <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
              <img src="http://placehold.it/200x150" class="img-fluid">
            </a>
          </li>
          <li class="list-inline-item">
            <a id="carousel-selector-5" data-slide-to="5" data-target="#myCarousel">
              <img src="http://placehold.it/200x150" class="img-fluid">
            </a>
          </li>
          <li class="list-inline-item">
            <a id="carousel-selector-6" data-slide-to="6" data-target="#myCarousel">
              <img src="http://placehold.it/200x150" class="img-fluid">
            </a>
          </li>
          <li class="list-inline-item">
            <a id="carousel-selector-7" data-slide-to="7" data-target="#myCarousel">
              <img src="http://placehold.it/200x150" class="img-fluid">
            </a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  <!--/main slider carousel-->
</div>