.masonry-demo {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.masonry-item {
  margin-bottom: 20px;
  background-color: grey;
  background-size: cover;
  width: 340px;
  border-radius: 3%;
}

