<!--<div class="logo">Share your travel</div>-->
<!--<div class="postlist"></div>-->
<!--<div class="box">-->

    <!--<div class="picture">-->
    <!--<a href=""><img src="https://pbs.twimg.com/media/DU_kAaQUQAAUKBe.jpg" alt=""></a>-->
    <!--<p>最美的风景1</p>-->
    <!--<div><a href="">用户名</a></div>-->
    <!--<button>like</button>-->
    <!--</div>-->
    <!--<app-home-card [title]="'test'"></app-home-card>-->
    <!--<app-home-card [title]="'test'" ]></app-home-card>-->

    <!--<app-home-card></app-home-card>-->
    <!--<app-home-card></app-home-card>-->
    <!--<app-home-card></app-home-card>-->
<!--</div>-->
<!--<footer>-->
    <!--<p class="foot">Some information by maker</p>-->
<!--</footer>-->
<nav>
    <ul>
        <li><a href="./home.component.html">home</a></li>
        <li><a href="../detail/detail.component.html">user</a></li>
    </ul>
</nav>
<div class="logo">Share you travel</div>
<div class="postlist"></div>
<div class="box">

    <app-home-card [title]="'test'"></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <!--<div class="picture">-->
        <!--<img src="assets/images/home/314e251f95cad1c82826e91b753e6709c93d5168.jpg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/center.jpeg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/images%20(1).jpeg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/images%20(2).jpeg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/images%20(3).jpeg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/images%20(4).jpeg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/images%20(5).jpeg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/images%20(6).jpeg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/images.jpeg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/S-081-1170x658.jpg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->

    <!--<div class="picture">-->
        <!--<img src="assets/images/home/v2-bc17b14f78d5c8ceaa693363d9d286bd_hd.jpg" alt="">-->
        <!--<p>Beautiful View</p>-->
        <!--<p><a href="">User Name</a></p>-->
        <!--<button>like</button>-->
    <!--</div>-->
</div>
<footer>
    <p class="foot">Some information by maker</p>
</footer>

