<div class="logo">分享你的旅行</div>
<div class="postlist"></div>
<div class="box">

    <!--<div class="picture">-->
    <!--<a href=""><img src="https://pbs.twimg.com/media/DU_kAaQUQAAUKBe.jpg" alt=""></a>-->
    <!--<p>最美的风景1</p>-->
    <!--<div><a href="">用户名</a></div>-->
    <!--<button>like</button>-->
    <!--</div>-->
    <app-home-card [title]="'test'"></app-home-card>
    <app-home-card></app-home-card>

    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
    <app-home-card></app-home-card>
</div>
<footer>
    <p class="foot">Some information by maker</p>
</footer>

