

<!--<div class="card">-->
    <!--<a href=""><img src="https://pbs.twimg.com/media/DU_kAaQUQAAUKBe.jpg" alt=""></a>-->
    <!--<p>{{text}}</p>-->
    <!--<div><a href="">用户名</a></div>-->
    <!--<button>like</button>-->
<!--</div>-->
<div  class="card">
    <a (click)="goToDetail()">
        <img src="{{post?.images[0]}}" alt="">
        <div class="text">
            <p>Beautiful View</p>
            <p class="title">{{post?.title}}</p>
            <p class="user">{{post?.owner?.username}}</p>
            <button>like</button>
        </div>
    </a>
</div>