<div class="card" (click)="goToDetail()">
    <div class="card-info">
        <a  class="card-href">
            <div class="lazyload-block">
                <div class="lazyload-container loaded">
                    <img src="{{post?.images[0]}}"
                         class="lazyload lazyload-image loaded" style="width: 250px;">
                </div>
            </div>
        </a> <i class="normal"></i>
        <h3>{{post?.title}}
        </h3>
    </div>
    <div class="card-handle">
        <div class="comment">
            <div class="photo">
                <a><img
                        src="{{post?.owner?.imageUrl}}"></a>
                <i style="display: none;"></i></div>
            <span class="name">{{post?.owner?.username}}</span>
        </div>
        <div class="like">
            <i></i> <span>333</span>
        </div>
    </div>
</div>
