<div class="nav-bar">
    <div class="container">
        <div class="btn-group">
            <div class="logged-btn-group" *ngIf="!isLogged;else showLogged">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Login as
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" *ngFor="let user of fakeUserArr"
                       (click)="fakeLogin(user.value)">{{user.viewValue}}</a>
                </div>
            </div>
            <ng-template #showLogged>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Hi <span class="nick-name">{{currentUser?.username}}</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="logout()">
                        logout
                    </a>
                </div>
                <div class="user-profile-pic">
                    <img *ngIf="currentUser.imageUrl" src="{{urlPrefix}}{{currentUser.imageUrl}}" class="user-avatar"/>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<!--<div class="masonry-demo">-->

<!--<masonry-layout [options]="masonryOptions" [useImagesLoaded]="true">-->
    <!--<masonry-item  *ngFor="let picture of masonryImages"  class="masonry-item">-->
        <!--<img src="{{picture.picture}}">-->
    <!--</masonry-item>-->
<!--</masonry-layout>-->
<!--<button *ngIf="limit < 100" (click)="showMoreImages()">Show More Images</button>-->
<!--<h2 *ngIf="limit >= 100">No More Images</h2>-->
<!--</div>-->
<router-outlet></router-outlet>

<app-footer></app-footer>