
/* CSS Document */
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,span,input,textarea,p{padding:0; margin:0;}
ol,ul,li{list-style:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
a{cursor:pointer;}
input{border:none; outline:none;}

.clear{clear:both;}
.display{display:inline;}

a { text-decoration:none; cursor:pointer;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}