@import "general";
/* Page Document */
$font_color: #262626;
$black: black;
$white: #fff;
$lightgray: #dbdbdb;
$cornflowerblue: cornflowerblue;
$darkslateblue: darkslateblue;

$h1_size: 32px;
$font_size: 12px;

$contanier_width: 1000px;
$topbar_hight: 40px;
$portrait_hight: 150px;
$foot_hight: 200px;
$pic_hight: 230px;
$setting_hight: 25px;
$pading20_size: 20px;
$pading50_size: 50px;
$pading10_size: 10px;

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
div {
  color: $font_color;
  overflow: hidden;
}

li {
  float: left;
  display: block;
  list-style: none;
}

ul {
  display: block;
  overflow: hidden;
  clear: both;
}

h1 {
  font-size: $h1_size;
}

#container {
  margin: 0 auto;
  width: $contanier_width;
}

#topbar {
  width: 100%;
  height: $topbar_hight;
  margin-bottom: $pading20_size;
  background: $black;
  a {
    color: $white;
    line-height: $topbar_hight;
    &:hover {
      color: $lightgray;
    }
  }
}

#circle {
  width: $portrait_hight;
  height: $portrait_hight;
  display: block;
  @include border-radius(75px);
  margin: 0 $pading50_size;
}

#headpart {
  background: #fafafa;
  padding: $pading50_size;
  overflow: hidden;
  img {
    margin-top: 8px;
    width: $setting_hight;
    height: $setting_hight;
    line-height: 32px;
  }
  li {
    padding-right: $pading20_size;
  }
}

#foot {
  width: $contanier_width;
  height: $foot_hight;
  margin: 0 auto;
  line-height: $foot_hight;
  font-size: 15px;
  a {
    color: $cornflowerblue;
    padding-right: 22px;
    &:hover {
      color: $darkslateblue;
    }
  }
}

.topmenu {
  margin: 0 auto;
  width: $contanier_width;
}

.float_l {
  float: left;
  overflow: hidden;
}

.float_r {
  float: right;
  overflow: hidden;
}

.pic {
  display: block;
  width: $pic_hight;
  height: $pic_hight;
  @include border-radius(5px);
  margin: 0 $pading10_size;
}

.title {
  text-align: center;
  color: $cornflowerblue;
  font-size: 24px;
  padding: 0 $pading10_size;
}

.describe {
  display: block;
  width: $pic_hight;
  font-size: $font_size;
  padding: 0 $pading10_size;
}

.padding_top20 {
  padding: $pading20_size 0 0 0;
}

.margin_top20 {
  margin: $pading20_size 0 0 0;
}

.edit_btn {
  width: $portrait_hight;
  text-align: center;
  font-size: $font_size;
  line-height: $setting_hight;
  height: $setting_hight;
  @include border-radius(3px);
  margin: 8px $pading20_size;
  border: 1px solid $lightgray;
}
