/* Page Document */
$black: black;
$white: #fff;
$lightgray: #fafafa;
$darkgray:#262626;
$cornflowerblue: cornflowerblue;
$darkslateblue: darkslateblue;
$size1:1vm;
$size2:1rem;

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
.top_bg{
  width: 100%;
  height: $size2*20;
  background: url("../../../assets/images/profile/mytop_bg.jpg") no-repeat center bottom;
  background-size: cover;
  filter:brightness(60%);
  position: absolute;
  z-index: 1;
}
.jumbotron{
  padding: $size2*8 $size1*4 0 $size1*4;
  @include border-radius(0);
  position: relative;
  background: none;
  z-index: 10;
  h1,span,p{
    color: $white;
  }
  div{
    padding: 0;
  }
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.img-circle{ @include border-radius(50%);}
.img-circle1{ @include border-radius(2%);}
.clear_margin{margin: 0 !important;}
.btn{width:100%; padding: 0 $size1*3; border: 1px solid $darkgray; background: $lightgray; color: $darkgray;}
.row{margin: $size2*2 0; line-height: inherit;}
#set_icon{
  img{
    width: 35%;
    height: 35%;
  }
}
.portrait{
  max-width: 70%;
}
.caption{
  h3{
    color: $cornflowerblue;
  }
}
.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.center-horizontal{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.thumbnail{
  .row{
    margin: 0;
    padding:42.5% 0;
    z-index: -5;
  }
  a{
    padding: $size2/3 0;
    position: relative;
    left: 45%;
    transform: translateX(-45%);
    img{
      position: relative;
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
  p{
    margin-bottom: $size2*2;
  }
}

.hint {
  opacity: 0;
  width: 100%;
  text-align: center;
  background: black;
  @include border-radius(2%);
  &:hover {
    opacity: 0.7;
  }
}
.icon_opacity{opacity: 1;}
.caption{
  margin-top: $size2;
  h3{color: $cornflowerblue;}
  a{
    position: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  p a{color: $darkgray;}
}
.backimg{
  z-index: -10;
  @include border-radius(2%);
  background-size:cover;
}
.more{
  width:100%;
  text-align: center;
  margin-bottom: $size2;
  a{
    width:15%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    img{
      width: fit-content;
      margin: 0 auto;
    }
    &:hover {
      color: white;
      background: darkslateblue;
      text-decoration: none;
      border-radius: 3% 3% 40% 40%;
    }
  }
}
#btn_top {
  width: $size2*3;
  height: $size2*3;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  border: none;
  color: $white;
  background: $cornflowerblue;
  @include border-radius(50%);
  a{
    &:hover{
      border: none;
    }
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #set_icon{ visibility: hidden; height: 2vh;}
  .row {
    h1{text-align: center; margin:$size1 0;}
  }
  .more{
    a{
      width:30%;
    }
  }
}
@media (min-width: 767.98px) {
  .jumbotron{
    padding: $size2*8 $size2*4 $size2*2 $size2*4;
  }
  .top_bg{
    height: $size2*20;
  }
}
@media (min-width: 576px){
  .jumbotron {
    padding: $size2*8 $size2*4 $size2*2 $size2*4;
  }
}

