<!--&lt;!&ndash;main&ndash;&gt;-->
<!--<div class="top_bg"></div>-->
<!--<div class="container">-->
<!--<div class="jumbotron" *ngIf="owner_id">-->
<!--<div class="row clear_margin">-->
<!--<div class="col-lg-1 col-md-1 col-sm-12 col-12 custom-centered">-->
<!--<img *ngIf="postOwner?.imageUrl;else loading" src="{{ postOwner?.imageUrl }}"-->
<!--class="portrait img-circle img-responsive center-horizontal">-->
<!--<ng-template #loading>-->
<!--<nz-spin></nz-spin>-->
<!--</ng-template>-->
<!--</div>-->
<!--<div class="col-lg-11 col-md-11 col-sm-12 col-12 ">-->
<!--<div class="row clear_margin">-->
<!--<div class="col-lg-2 col-md-2 col-sm-12 col-12">-->
<!--<span><h1>{{postOwner?.username}}</h1></span>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="col-lg-5 col-md-5 col-sm-12 col-12">&ndash;&gt;-->
<!--&lt;!&ndash;<button class="btn btn-info btn-xs center-vertical" ng-click="go('home/detail/1')"><strong>{{btnEdit}}</strong>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div id="set_icon" class="col-lg-2 col-md-2">&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#" class="img-responsive center-vertical"><img src="assets/images/profile/setting.png"></a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;<div class="row clear_margin">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-lg-3 col-md-3 col-sm-4 col-4">&ndash;&gt;-->
<!--&lt;!&ndash;<span>{{postCount}} posts</span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-lg-3 col-md-3 col-sm-4 col-4">&ndash;&gt;-->
<!--&lt;!&ndash;<span>{{followerCount}} followers</span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-lg-3 col-md-3 col-sm-4 col-4">&ndash;&gt;-->
<!--&lt;!&ndash;<span>{{followingCount}} following </span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="row clear_margin">-->
<!--<p><strong>{{postOwner?.username}}</strong>&nbsp;{{intro}}</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-lg-2 col-md-2 col-sm-4 col-4 txt_center">-->
<!--<span>{{postCount}}<br>posts</span>-->
<!--</div>-->
<!--<div class="col-lg-2 col-md-2 col-sm-4 col-4 txt_center">-->
<!--<span>{{followerCount}}<br>followers</span></div>-->
<!--<div class="col-lg-2 col-md-2 col-sm-4 col-4 txt_center">-->
<!--<span>{{followingCount}}<br>following</span>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;setting&ndash;&gt;-->
<!--<button id="btn_set" title="setting">-->
<!--<img src="assets/images/profile/setting.png">-->
<!--</button>-->
<!--</div>-->
<!--&lt;!&ndash;pic list&ndash;&gt;-->
<!--<div class="row clear_margin">-->
<!--<div class="col-lg-4 col-md-4 col-sm-12 col-12 " *ngFor="let item of postsView; let i = index">-->
<!--<div class="thumbnail img-circle1">-->
<!--<div class="backimg"-->
<!--[ngStyle]="{'background-image': 'url(' + item.images[0] + ')', 'background-size': 'cover'}">-->
<!--<div class="row img-circle1 hint" *ngIf="currentUser?._id == owner_id">-->
<!--<a (click)="goToDetail(item._id)">-->
<!--<img src="assets/images/profile/edit.png" class="img-responsive icon_opacity">-->
<!--</a>-->
<!--<a (click)="showDeleteConfirm(item._id)">-->
<!--<img src="assets/images/profile/trash.png" class="img-responsive icon_opacity">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="caption" ng-app="myApp" ng-controller="namesCtrl">-->
<!--<h3><a (click)="goToDetail(item._id)">{{item.title.substr(0,21) | striphtml}}</a></h3>-->
<!--<p><a (click)="goToDetail(item._id)">{{item.content.substr(0,70) | striphtml}}</a></p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;more&ndash;&gt;-->
<!--<div class="col-12 more" *ngIf="postsView.length>VIEWPERPAGE">-->
<!--<a (click)="viewMore()">-->
<!--<span>Show more</span>-->
<!--<img src="assets/images/profile/dropdown.png">-->
<!--</a>-->
<!--</div>-->
<!--&lt;!&ndash;top&ndash;&gt;-->
<!--<button id="btn_top" title="gotop"></button>-->
<!--</div>-->

<div class="profile-page-wrapper">
    <div class="profile-page-header">
        <div class="header-bg"></div>
        <div class="header-detail">
            <div class="container">
                <div class="row justify-content-left">
                    <div class="col-12 first-row">
                        <div class="avatar">
                            <img *ngIf="postOwner?.imageUrl;else loading" src="{{ postOwner?.imageUrl }}">
                            <ng-template #loading>
                                <nz-spin></nz-spin>
                            </ng-template>
                        </div>

                        <div class="user-info">
                            <h2 class="user-name">{{postOwner?.username}}</h2>
                            <h6 class="user-description">{{intro}}</h6>
                        </div>
                    </div>
                    <div class="col-12 second-row">
                        <div class="user-info-cols">
                            <div class="user-info-col col-first">
                                <h6>
                                    Posts
                                </h6>
                                <h6>
                                    {{postCount}}
                                </h6>
                            </div>
                            <div class="user-info-col col-second">
                                <h6>
                                    Followers
                                </h6>
                                <h6>
                                    {{followerCount}}
                                </h6>
                            </div>
                            <div class="user-info-col col-third">
                                <h6>
                                    Followings
                                </h6>
                                <h6>
                                    {{followingCount}}
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button id="btn_set" title="setting">
                <img src="assets/images/profile/setting.png">
            </button>
        </div>
    </div>
    <div class="container posts-wrapper">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 " *ngFor="let item of postsView; let i = index">
                <div class="thumbnail img-circle1">
                    <div class="backimg"
                         [ngStyle]="{'background-image': 'url(' + item.images[0] + ')', 'background-size': 'cover'}">
                        <div class="row img-circle1 hint" *ngIf="currentUser?._id == owner_id">
                            <a (click)="goToDetail(item._id)">
                                <img src="assets/images/profile/edit.png" class="img-responsive icon_opacity">
                            </a>
                            <a (click)="showDeleteConfirm(item._id)">
                                <img src="assets/images/profile/trash.png" class="img-responsive icon_opacity">
                            </a>
                        </div>
                    </div>
                    <div class="caption" ng-app="myApp" ng-controller="namesCtrl">
                        <h3><a (click)="goToDetail(item._id)">{{item.title.substr(0,21) | striphtml}}</a></h3>
                        <p><a (click)="goToDetail(item._id)">{{item.content.substr(0,70) | striphtml}}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 more" *ngIf="postsView.length>VIEWPERPAGE">
                <a (click)="viewMore()">
                    <span>Show more</span>
                    <img src="assets/images/profile/dropdown.png">
                </a>
            </div>
        </div>
    </div>
</div>
