/* Page Document */
$black: black;
$white: #fff;
$lightgray: #f5f5f5;
$darkgray: #262626;
$cornflowerblue: #007bff;
$darkslateblue: darkslateblue;
$size1: 1vm;
$size2: 1rem;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@font-face {
  font-family: 'Montserrat';
  @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');
}
h1, h2, h3, h4 ,h5,h6,p,span{
  margin: 0;
  padding: 0;
  font-weight:400;
}
h3{ font-family: 'Montserrat', serif;}
h6,p {
  font-family: 'Montserrat', serif;
  font-weight: 300;
}
.thin{font-weight: 100;}
.top_bg {
  width: 100%;
  height: $size2*20;
  background: url("../../../assets/images/profile/mytop_bg.jpg") no-repeat center bottom;
  background-size: cover;
  filter: brightness(60%);
  position: absolute;
  z-index: 1;
}

.jumbotron {
  font-size: 12px;
  margin: $size2*5 0 0 0;
  //padding: $size2*10 $size1*4 0 $size1*1;
  @include border-radius(0);
  position: relative;
  background: none;
  z-index: 10;
  h1, span, p {
    color: $white;
    margin: 0;
  }
  div {
    padding: 0;
  }
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-circle {
  @include border-radius(50%);
}

.img-circle1 {
  @include border-radius(2%);
}

.clear_margin.row {
  margin: 0 !important;
  padding-bottom: 20px;
  .custom-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.row {
  //margin: $size2*2 0;
  line-height: inherit;
  .thumbnail {
    background: white;
    p {
      text-align: left;
      padding-left: 0;
    }
  }
}

.btn {
  width: 100%;
  padding: 0 $size1*3;
  border: 1px solid $darkgray;
  background: $lightgray;
  color: $darkgray;
}

#set_icon {
  img {
    width: 35%;
    height: 35%;
  }
}

.portrait {
  max-width: 50%;
}

.caption {
  padding: 0 $size2 $size2 $size2;
  h3 {
    color: $cornflowerblue;
  }
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.thumbnail {
  p {
    text-align: left;
    padding-left: 0;
  }
  .row {
    margin: 0;
    padding: 42.5% 0;
    z-index: -5;
  }
  a {
    padding: $size2/3 0;
    position: relative;
    left: 45%;
    transform: translateX(-45%);
    img {
      position: relative;
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
  &:hover {
    background: black;
    box-shadow: 0px 2px 7px #aaaaaa;
  }
}

.hint {
  opacity: 0;
  width: 100%;
  text-align: center;
  background: black;
  @include border-radius(2%);
  &:hover {
    opacity: 0.7;
  }
}

.icon_opacity {
  opacity: 1;
}

.caption {
  margin-top: $size2;
  h3 {
    color: $cornflowerblue;
  }
  a {
    position: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  p a {
    color: $darkgray;
  }
}

.backimg {
  min-height: 250px;
  z-index: -10;
  @include border-radius(2% 2% 0 0);
  background-size: cover;
}

.more {
  width: 100%;
  text-align: center;
  margin: $size2*2 0;
  a {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    img {
      width: fit-content;
      margin: 0 auto;
      opacity: 0;
    }
    &:hover {
      color: $cornflowerblue;
      text-decoration: none;
      img {
        opacity: 1.0;
      }
    }
  }
}

#btn_top {
  width: $size2*3;
  height: $size2*3;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  border: none;
  color: white;
  z-index: 20;
  background: url("../../../assets/images/profile/rocket1.png") no-repeat center center;
  background-size: 100%;
  @include border-radius(50%);
  a {
    &:hover {
      border: none;
    }
  }
}


// Small devices (landscape phones, less than 767px)
@media only screen and (max-width: 767px) {
  .row {
    h1 {
      padding: $size2 0;
    }
    h1, p {
      text-align: center;
    }
    .thumbnail {
      margin-top: $size2 !important;
      margin-left: $size2 !important;
      margin-right: $size2 !important;
      p {
        text-align: left;
        padding-left: 0;
      }
    }
    .txt_center {
      text-align: center;
    }
  }
  #btn_set {
    visibility: hidden;
    display: none;
  }
  .top_bg {
    height: $size2*34;
  }
}

// Small devices (landscape phones, less than 570-768px)
@media only screen and (min-width: 560px) and (max-width: 767px) {
  .top_bg {
    height: $size2*36 !important;
  }
  .thumbnail {
    margin-top: $size2 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

// Small devices (landscape phones, less than 400px)
@media only screen and (max-width: 400px) {
  .top_bg {
    height: $size2*32 !important;
  }
  .thumbnail {
    padding-bottom: 0 !important;
  }
}

// Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {
  .thumbnail {
    margin-top: $size2 !important;
  }
  h1, p {
    padding-left: $size2;
  }
  .more {
    a {
      width: 30%;
    }
  }
  .jumbotron {
    margin: $size2*5 0 0 0;
    padding-bottom: 0 !important;
  }
  .top_bg {
    height: $size2*20 !important;
  }
  #btn_set {
    bottom: $size2*2;
  }
  .portrait {
    max-width: 80%;
  }
}

.profile-page-wrapper {
  .posts-wrapper {
    padding: 30px 0;
  }
  .profile-page-header {
    position: relative;
    height: 250px;
    @media screen and (max-width: 576px) {
      height: 400px;
    }
    .header-bg {
      width: 100%;
      height: 100%;
      background: url("../../../assets/images/profile/mytop_bg.jpg") no-repeat center bottom;
      background-size: cover;
      -webkit-filter: brightness(60%);
      filter: brightness(60%);
      position: absolute;
    }
  }
  .header-detail {
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: 30px;
    height: 100%;

    h1, h2, h3, h4, h5, h6 {
      color: #fff !important;
    }
    .avatar {
      display: inline-block;
      width: 66px;
      height: 66px;

      @media screen and (max-width: 576px) {
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto 15px;
      }
      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .user-info {
      margin-left: 20px;
      @media screen and (max-width: 576px) {
        text-align: center;
      }
    }
    .first-row {
      display: flex;
      align-items: center;
      margin-top: 30px;
      @media screen and (max-width: 576px) {
        display: block;
      }
    }

    .second-row {
      padding-top: 50px;
      @media screen and (max-width: 576px) {
        padding-top: 15px;
        .user-info-cols {
          justify-content: center;
        }
      }
    }

    .user-info-cols {
      display: flex;
      text-align: center;

      .user-info-col:not(:last-of-type) {
        margin-right: 30px;
      }
    }
    #btn_set {
      width: $size2*3;
      height: $size2*3;
      position: absolute;
      right: 135px;
      bottom: -20px;
      background: $darkgray;
      background-size: 50%;
      color: white;
      border: none;
      cursor: pointer;
      @include border-radius(50%);
      @media screen and (max-width: 980px){
        right: 70px;
      }
      @media screen and (max-width: 1400px){
        right: 75px;
      }
      img {
        display: block;
        max-width: 70%;
        margin: 0 auto;
      }
      &:hover {
        background: $cornflowerblue;
        border: none;
      }
    }
  }
}


